.inside {
  padding: 1rem;
}

.card {
  transition: all 150ms ease-in-out;
  box-shadow: 0;
  &:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 25px -15px var(--dark-50);
  }
}

.number {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -0.5rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
