$scale: 1.15;

$h6-size: 1rem;
$h5-size: $h6-size * $scale;
$h4-size: $h5-size * $scale;
$h3-size: $h4-size * $scale;
$h2-size: $h3-size * $scale;
$h1-size: $h2-size * $scale;

$dark100: #181a1b;
$dark75: lighten($dark100, 25%);
$dark50: lighten($dark100, 50%);
$dark25: lighten($dark100, 75%);

$primary: #10dcab;
$primary75: lighten($primary, 25%);
$primary50: lighten($primary, 50%);

$purple: #8e10dc;
$purple75: lighten($purple, 25%);
$purple50: lighten($purple, 50%);

$red: #f72b5b;
$red115: darken($red, 15%);
$red75: lighten($red, 25%);

:root {
  --dark-100: #{$dark100};
  --dark-75: #{$dark75};
  --dark-50: #{$dark50};
  --dark-25: #{$dark25};

  --white: #ffffff;
  --light: #f5f5f5;

  --primary: #{$primary};
  --primary-75: #{$primary75};
  --primary-50: #{$primary50};

  --purple: #{$purple};
  --purple-75: #{$purple75};
  --purple-50: #{$purple50};

  --red-115: #{$red115};
  --red: #{$red};
  --red-75: #{$red75};

  --sidebar-width: 11rem;

  --h1-size: #{$h1-size};
  --h2-size: #{$h2-size};
  --h3-size: #{$h3-size};
  --h4-size: #{$h4-size};
  --h5-size: #{$h5-size};
  --h6-size: #{$h6-size};

  --button-background-color: var(--white);
  --button-background-color-hover: var(--light);
  --button-color: var(--dark-100);
  --button-color-hover: var(--dark-100);
}

::selection {
  background-color: #0000ffa5;
  color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: var(--light);
  color: var(--dark-100);
}

// Tamanhos de headings
@for $i from 1 through 6 {
  h#{$i} {
    font-size: var(--h#{$i}-size);
    letter-spacing: -0.03rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

#wrapper {
  width: min(calc(100% - 2rem), 1200px);
  margin-inline: auto;
  margin-top: 1rem;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: var(--sidebar-width) 1fr;
  align-items: start;

  aside {
    position: sticky;
    top: 1rem;
  }
}

.highlight {
  color: var(--primary);
}

.light {
  font-weight: 300;
}

button,
input {
  border: 0;
  font-family: inherit;
}

input {
  height: 3.25rem;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--dark-25);
  padding-inline: 0.75rem;

  &:focus,
  &:active {
    border: 3px solid var(--dark-50);
    outline: none;
  }
}
