.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-block: 1rem;
}

.empty {
  border-radius: 2rem;
  background-color: var(--dark-25);
  opacity: 0.5;
  height: 4rem;
  margin-top: 1rem;

  display: grid;
  place-items: center;
}
